@{
    ViewData["Title"] = "Medication Add";
    Layout = "_LayoutAdmin";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medication Add</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Medication Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add Medication" style=" width:300px">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Medication Form</label>
                                    <select input class="form-control" placeholder="Medication Form" style=" width:300px">
                                        <option value="Tablets">Tablets</option>
                                        <option value="Capsules">Capsules</option>
                                        <option value="Liquids">Liquids</option>
                                        <option value="Topical">Topical</option>
                                        <option value="Patches">Patches</option>
                                        <option value="Suppositories">Suppositories</option>
                                        <option value="Inhalers">Inhalers</option>
                                        <option value="Powders">Powders</option>
                                        <option value="Drops">Drops</option>
                                        <option value="Injectable Solutions">Injectable Solutions</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Medication Amount</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add Amount" style=" width:300px">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <button class="btn btn-danger" style=" width:70px" type="submit" asp-action="Index" asp-controller="Home">Back</button>
                                    <button class="btn btn-primary" style=" width:70px" type="submit">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
         
        </main>
    </div>
</body>
</html>
