@{
    ViewData["Title"] = "Admin Home";
    Layout = "_LayoutAdmin";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <br />
    <br />
    <h1 style=" text-align: center;">Welcome Admin</h1>
    <div style="display: flex; gap: 20px;  padding-left: 180px;">
        <div class="card" style="width: 18rem; margin-top: 48px;">
            <img src="~/css/users.png" class="card-img-top" alt="Doctor Patient">
            <div class="card-body">
                <h5 class="card-title">User List</h5>
                <p class="card-text">In a day hospital system, the user list includes healthcare professionals like doctors, nurses, and pharmacists involved in patient care, as well as administrative staff who handle records, scheduling, and billing. It also features support personnel such as receptionists and housekeeping staff. Users are categorized by their roles and access levels to ensure efficient management and communication within the hospital.</p>
                <a class="btn btn-primary" aria-hidden="true" asp-controller="Admin" asp-action="ListUser">Users</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-top: 48px;">
            <img src="~/css/medication.jpeg" class="card-img-top" alt="Doctor Prescription">
            <div class="card-body">
                <h5 class="card-title">Treatment Code list</h5>
                <p class="card-text">In a day hospital system, the treatment code list is a crucial tool used to categorize and track various medical treatments and procedures. Each code corresponds to a specific treatment, including details like its description, purpose, and billing information. Maintaining an up-to-date treatment code list ensures accurate documentation, efficient billing, and effective communication among healthcare providers.</p>

                <a class="btn btn-primary" aria-hidden="true" asp-controller="Admin" asp-action="ListTreatmentCodes">Treatment Codes</a>

            </div>
        </div>
        
    </div>
</body>
</html>
