<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE1</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site2.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Website Name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Main Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-hidden="true" asp-controller="Home" asp-action="SurgeonHome">Home</a>
                    <a class="nav-link active" aria-hidden="true" asp-controller="Home" asp-action="PatientList">Patient List</a>
                    <a class="nav-link active" aria-hidden="true" asp-controller="Home" asp-action="ListSurgery">Surgery List</a>
                    <a class="nav-link active" aria-hidden="true" asp-controller="Home" asp-action="PrescriptionList">Prescription List</a>
                    <a class="nav-link active" aria-hidden="true" asp-controller="Home" asp-action="Addmisionslist">Addmisions list</a>
                </li>
            </ul>
       </div>
    </div>

    <div class="container">
        <main role="main" class="">
			<div class="row">
				<div class="card mt-5 custom-card" style="width:200px">
					<img src="https://via.placeholder.com/150" class="card-img-top mx-auto mt-3 rounded-circle" alt="Placeholder Image" style="width: 100px; height: 100px;">
					<div class="card-body">
                        <h5 class="card-title text-center">Surgeon</h5>
						<h5 class="card-title text-center">John Doe</h5>
						<p class="card-text text-center">Email: john.doe@example.com</p>
						<br>
						<br>
						<hr>
						<br>
						<p class="card-text text-center">Prescriptions Check</p>
						<p class="card-text text-center">5</p>
						<p class="card-text text-center">Patient Surgery</p>
						<p class="card-text text-center">2</p>
						<hr>
					</div>
				</div>
                
                <div class="col-md-9" align="left">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>