@{
    ViewData["Title"] = "Page1";
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form and Data Grid with Side Navigation</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        
                       
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</body>
</html>
