@{
    ViewData["Title"] = "Admission";
    Layout = "_LayoutNurse";
}
@model DEMO.ViewModels.BookedPatientInfo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission (Wards)</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
        .active-tab {
            background-color: teal;
            color: white;
        }

        .container {
            padding-top: 50px;
        }

        .form-card {
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

        .form-group {
            margin-bottom: 30px;
        }

        .row-two-columns {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

            .row-two-columns .vital-group {
                flex: 1 1 48%;
            }

        .vital-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

        .vital-group {
            text-align: left;
        }

            .vital-group input,
            .vital-group select {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 14px;
                color: #333;
                width: 100%;
                max-width: 400px;
                box-sizing: border-box;
                height: 40px;
                margin: 0;
            }

        .header-labels {
            text-align: left;
            margin-bottom: 20px;
            padding-left:50px;
        }

            .header-labels label {
                display: block;
                margin-bottom: 10px;
                font-size: 18px;
                color: #333;
            }

        .form-card hr {
            margin: 20px 0;
        }

        .list-view-box {
            border: 1px solid #ccc;
            border-radius: 5px;
            max-height: 200px;
            overflow-y: auto;
            padding: 10px;
        }

            .list-view-box p {
                margin: 5px 0;
                padding: 5px;
                background-color: #f1f1f1;
                border-radius: 3px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .list-view-box p span {
                    flex-grow: 1;
                }

                .list-view-box p button {
                    border: none;
                    background-color: red;
                    color: white;
                    border-radius: 3px;
                    padding: 5px;
                    cursor: pointer;
                }

        .address-group {
            margin-bottom: 10px;
        }

            .address-group label {
                display: block;
                margin-bottom: 5px;
            }

            .address-group select {
                width: 100%;
                padding: 8px;
            }

    </style>
</head>
<body>
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0" style="width: contain;">
            <div class="text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2><strong>Admission</strong></h2>
                    <hr></hr>
                    <div class="header-labels">
                        
                        <label>Name: @Model.Name</label>
                        <label>Surname: @Model.Surname</label>
                        <label>Date: @Model.Date</label>
                        
                    </div>
                    <hr></hr>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform" method="post" action="/Nurse/AdmitPatient">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <input type="button" name="Contact Details" class="next action-button" onclick="showContactDetails()" value="Contact Details" />
                                    <input type="button" name="Allergies and Conditions" class="next action-button" onclick="showAllergyConditions()" value="Allergies and Conditions" />
                                    <input type="button" name="Current Medications" class="next action-button" onclick="showMedications()" value="Current Medications" />
                                    <input type="button" name="Vitals" class="next action-button" onclick="showVitals()" value="Vitals" />
                                </ul>
                                <!-- fieldsets -->
                                <fieldset id="f-1">
                                    <div class="form-card">
                                        <h2 class="fs-title">Contact Details And Ward</h2>
                                        <div class="form-group">
                                            <hr></hr>
                                            <h4>Ward Details</h4>
                                            <hr></hr>
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="Ward">Ward</label>
                                                    <select class="select2" name="Ward" required>
                                                        <option value="" disabled selected>Select Ward</option>
                                                        <option value="WardN">Ward N</option>
                                                        <option value="WardA">Ward A</option>
                                                        <option value="WardZ">Ward Z</option>
                                                        <!-- Add more options as needed -->
                                                    </select>
                                                </div>
                                                <div class="vital-group">
                                                    <label for="Bed">Bed</label>
                                                    <select class="select2" name="Bed" required>
                                                        <option value="" disabled selected>Select Bed</option>
                                                        <option value="Bed1">Bed 1</option>
                                                        <option value="Bed2">Bed 2</option>
                                                        <option value="Bed3">Bed 3</option>
                                                        <!-- Add more options as needed -->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <hr></hr>
                                            <h4>Contact Details</h4>
                                            <hr></hr>
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="DOB">Date of Birth</label>
                                                    <input type="date" id="DOB" name="DOB" required>
                                                </div>
                                                <div class="vital-group">
                                                    <label for="Phone">Phone Number</label>
                                                    <input type="tel" id="Phone" name="Phone" placeholder="e.g. 011 123 4567" pattern="^(0[1-9]\d{1,2}) \d{4} \d{4}$" required>
                                                    <small>Enter a phone number in the format: 011 123 4567</small>
                                                </div>
                                                <div class="vital-group">
                                                    <label for="Email">Email</label>
                                                    <input type="email" name="Email" placeholder="example@example.com" required>
                                                </div>
                                                
                                            </div>
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <p></p>
                                                    <label>Address</label>
                                                    <div class="address-group">
                                                        <label for="Province">Province</label>
                                                        <select class="select2" id="Province" name="Province" required>
                                                            <option value="" disabled selected>Select Province</option>
                                                            <!-- Add city options here -->
                                                            <option value="Province1">Province1</option>
                                                            <option value="Province2">Province2</option>
                                                        </select>
                                                    </div>
                                                    <div class="address-group">
                                                        <label for="City">City</label>
                                                        <select class="select2" id="City" name="City" required>
                                                            <option value="" disabled selected>Select City</option>
                                                            <!-- Add city options here -->
                                                            <option value="City1">City1</option>
                                                            <option value="City2">City2</option>
                                                        </select>
                                                    </div>
                                                    <div class="address-group">
                                                        <label for="Suburb">Suburb</label>
                                                        <select class="select2" id="Suburb" name="Suburb" required>
                                                            <option value="" disabled selected>Select Suburb</option>
                                                            <!-- Add suburb options here -->
                                                            <option value="Suburb1">Suburb1</option>
                                                            <option value="Suburb2">Suburb2</option>
                                                        </select>
                                                    </div>
                                                    
                                                    <div class="address-group">
                                                        <label for="PostalCode">Postal Code</label>
                                                        <select class="select2" id="PostalCode" name="PostalCode" required>
                                                            <option value="" disabled selected>Select Postal Code</option>
                                                            <!-- Add postal code options here -->
                                                            <option value="12345">12345</option>
                                                            <option value="67890">67890</option>
                                                        </select>
                                                    </div><div class="address-group">
                                                        <label for="Street">Street</label>
                                                        <input type="text" value="" id="Street" min="1" step="1"></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <input type="button" name="next" class="next action-button" onclick="showAllergyConditions()" value="Next Step" />
                                    </div>
                                </fieldset>
                                <fieldset id="f-2" style="display:none">
                                    <div class="form-card">
                                        <h2 class="fs-title">Allergies and Conditions</h2>
                                        <div class="form-group">
                                            <hr></hr>
                                            <h4>Allergies</h4>
                                            <hr></hr>
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="Allergies">Select Allergy</label>
                                                    <select class="select2" id="AllergySelect">
                                                        <option value="" disabled selected>Select Allergy</option>
                                                        <option value="Peanuts">Peanuts</option>
                                                        <option value="Shellfish">Shellfish</option>
                                                        <option value="Pollen">Pollen</option>
                                                        <!-- Add more options as needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <br></br>
                                            <button type="button" onclick="addAllergy()">Add Allergy</button>
                                            <br></br>
                                            <div class="list-view-box" id="AllergyList"></div>
                                        </div>
                                        <div class="form-group">
                                            <hr></hr>
                                            <h4>Conditions</h4>
                                            <hr></hr>
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="Condition">Select Condition</label>
                                                    <select class="select2" id="ConditionSelect">
                                                        <option value="" disabled selected>Select Condition</option>
                                                        <option value="Diabetes">Diabetes</option>
                                                        <option value="Hypertension">Hypertension</option>
                                                        <option value="Asthma">Asthma</option>
                                                        <!-- Add more options as needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <br></br>
                                            <button type="button" onclick="addCondition()">Add Condition</button>
                                            <br></br>
                                            <div class="list-view-box" id="ConditionList"></div>
                                        </div>
                                        <input type="button" name="previous" class="previous action-button-previous" onclick="showContactDetails()" value="Previous" />
                                        <input type="button" name="next" class="next action-button" onclick="showMedications()" value="Next Step" />
                                    </div>
                                </fieldset>
                                <fieldset id="f-3" style="display:none">
                                    <div class="form-card">
                                        <h2 class="fs-title">Current Medications</h2>
                                        <div class="form-group">
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="Medication">Current Medication</label>
                                                    <select class="select2" id="MedicationSelect" name="Medication">
                                                        <option value="" disabled selected>Select Medication</option>
                                                        <option value="Aspirin">Aspirin</option>
                                                        <option value="Ibuprofen">Ibuprofen</option>
                                                        <option value="Acetaminophen">Acetaminophen</option>
                                                        <!-- Add more options as needed -->
                                                    </select>
                                                </div>
                                            </div>
                                            <br></br>
                                            <button type="button" onclick="addMedication()">Add Medication</button>
                                            <br></br>
                                            <div class="list-view-box" id="MedicationList"></div>
                                        </div>
                                        <input type="button" name="previous" class="previous action-button-previous" onclick="showAllergyConditions()" value="Previous" />
                                        <input type="button" name="next" class="next action-button" onclick="showVitals()" value="Next Step" />
                                    </div>
                                </fieldset>
                                <fieldset id="f-4" style="display:none">
                                    <div class="form-card">
                                        <h2 class="fs-title">Vitals</h2>
                                        <div class="form-group">
                                            <hr></hr>
                                            
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="Height">Height (cm)</label>
                                                    <input type="number" name="Height" min="100" max="250" value="">
                                                </div>
                                                <div class="vital-group">
                                                    <label for="Weight">Weight (kg)</label>
                                                    <input type="number" name="Weight" min="20" max="250" value="">
                                                </div>
                                            </div>
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="SystolicBP">Systolic BP (mmHg)</label>
                                                    <input type="number" name="SystolicBP" min="80" max="150" value="">
                                                </div>
                                                <div class="vital-group">
                                                    <label for="DiastolicBP">Diastolic BP (mmHg)</label>
                                                    <input type="number" name="DiastolicBP" min="40" max="100" value="">
                                                </div>
                                            </div>
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="Pulse">Pulse (bpm)</label>
                                                    <input type="number" name="Pulse" min="50" max="100" value="">
                                                </div>
                                                <div class="vital-group">
                                                    <label for="BloodOxygen">Blood Oxygen (%)</label>
                                                    <input type="number" name="BloodOxygen" min="90" max="100" value="">
                                                </div>
                                            </div>
                                            <div class="row-two-columns">
                                                <div class="vital-group">
                                                    <label for="Respiration">Respiration Rate (Breaths/min)</label>
                                                    <input type="number" name="Respiration" min="10" max="30" value="">
                                                </div>
                                                <div class="vital-group">
                                                    <label for="BGL">Blood Glucose Level (mg/dL)</label>
                                                    <input type="number" name="BGL" min="50" max="170" value="">
                                                </div>
                                            </div>
                                            <div class="row-two-columns">
                                                
                                                <div class="vital-group">
                                                    <label for="Temperature">Temperature (°C)</label>
                                                    <input type="number" name="Temperature" min="30.0" max="40.0" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="button" name="previous" class="previous action-button-previous" onclick="showMedications()" value="Previous" />
                                        <a asp-controller="Nurse" asp-action="AdmittedPatients">
                                            <button type="button" name="submit" class="next action-button" onclick="submitForm()">Submit</button>
                                        </a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
       
        function submitForm() {
            // Assuming you have fields with IDs that match your model's properties
            document.querySelector('input[name="PatientID"]').value = document.getElementById('PatientID').value;
            document.querySelector('input[name="BookingID"]').value = document.getElementById('BookingID').value;
            document.querySelector('input[name="WardID"]').value = document.getElementById('Ward').value;
            document.querySelector('input[name="PatientVitalsID"]').value = document.getElementById('PatientVitalsID').value;
            document.querySelector('input[name="Date"]').value = document.getElementById('Date').value;
            document.querySelector('input[name="ProvinceID"]').value = document.getElementById('Province').value;
            document.querySelector('input[name="CityID"]').value = document.getElementById('City').value;
            document.querySelector('input[name="SuburbID"]').value = document.getElementById('Suburb').value;
            document.querySelector('input[name="StreetName"]').value = document.getElementById('Street').value;
        }
            // JavaScript functions to handle form navigation
        function showContactDetails() {
            $('#f-1').show('slow', 'swing');
            $('#f-2, #f-3, #f-4').hide('slow', 'swing');
            setActiveTab('Contact Details');
        }
        function showAllergyConditions() {
            $('#f-2').show('slow', 'swing');
            $('#f-1, #f-3, #f-4').hide('slow', 'swing');
            setActiveTab('Allergies and Conditions');
        }
        function showMedications() {
            $('#f-3').show('slow', 'swing');
            $('#f-1, #f-2, #f-4').hide('slow', 'swing');
            setActiveTab('Current Medications');
        }
        function showVitals() {
            $('#f-4').show('slow', 'swing');
            $('#f-1, #f-2, #f-3').hide('slow', 'swing');
            setActiveTab('Vitals');
        }
        function setActiveTab(tabName) {
            $('ul#progressbar input').removeClass('active-tab');
            $('ul#progressbar input[name="' + tabName + '"]').addClass('active-tab');
        }
        $(document).ready(function () {
            showContactDetails(); // Initialize to show the first step

            // Initialize Select2
            $('.select2').select2({
                placeholder: 'Select an option',
                allowClear: true
            });
            // Sort options in ascending order
            sortSelectOptions('#WardSelect');
            sortSelectOptions('#AllergySelect');
            sortSelectOptions('#ConditionSelect');
            sortSelectOptions('#Province');
            sortSelectOptions('#CIty');
    
            sortSelectOptions('#Suburb');
            sortSelectOptions('#PostalCode');
            sortSelectOptions('#Bed');
            sortSelectOptions('#MedicationSelect');
        });
        function sortSelectOptions(selector) {
            const selectElement = $(selector);
            const options = selectElement.find('option').toArray();
            options.sort((a, b) => {
                const textA = $(a).text().trim().toUpperCase();
                const textB = $(b).text().trim().toUpperCase();
                return textA.localeCompare(textB);
            });

            // Remove all existing options
            selectElement.empty();

            // Append the sorted options
            selectElement.append(options);

            // Restore the placeholder option
            selectElement.prepend('<option value="" disabled selected>Select an option</option>');
        }
        // JavaScript functions to handle dynamic list addition
        function addAllergy() {
            const allergySelect = document.getElementById('AllergySelect');
            const allergy = allergySelect.options[allergySelect.selectedIndex].text;
            const allergyList = document.getElementById('AllergyList');
            const p = document.createElement('p');
            p.innerHTML = `<span>${allergy}</span><button type="button" onclick="removeItem(this)">Remove</button>`;
            allergyList.appendChild(p);
        }

        function addCondition() {
            const conditionSelect = document.getElementById('ConditionSelect');
            const condition = conditionSelect.options[conditionSelect.selectedIndex].text;
            const conditionList = document.getElementById('ConditionList');
            const p = document.createElement('p');
            p.innerHTML = `<span>${condition}</span><button type="button" onclick="removeItem(this)">Remove</button>`;
            conditionList.appendChild(p);
        }

        function addMedication() {
            const medicationSelect = document.getElementById('MedicationSelect');
            const medication = medicationSelect.options[medicationSelect.selectedIndex].text;
            const medicationList = document.getElementById('MedicationList');
            const p = document.createElement('p');
            p.innerHTML = `<span>${medication}</span><button type="button" onclick="removeItem(this)">Remove</button>`;
            medicationList.appendChild(p);
        }

        function removeItem(button) {
            const p = button.parentElement;
            p.remove();
        }
    </script>
</body>
</html>
