@{
    ViewData["Title"] = "Page1";
    Layout = "_LayoutNurse";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Murse Main Page</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <h1 style=" text-align: center;">Welcome @ViewBag.UserName @ViewBag.UserSurname</h1>
                        <div style="display: flex; gap: 20px;  padding-left: 180px;">
                            <div class="card" style="width: 18rem; margin-top: 48px;">
                                <img src="~/css/DnP.jpeg" class="card-img-top" alt="Doctor Patient">
                                <div class="card-body">
                                    <h5 class="card-title">Patient List</h5>
                                    <p class="card-text">Patients are the most important Thing in the Hospital. By clicking the button below you'll be able to Look throw a list of patients and book a surgery for anyone in need of one.</p>
                                    <a class="btn btn-primary" aria-hidden="true" asp-controller="Nurse" asp-action="PatientRecords">Patient List</a>
                                </div>
                            </div>
                            <div class="card" style="width: 18rem; margin-top: 48px;">
                                <img src="~/css/DP.jpeg" class="card-img-top" alt="Doctor Prescription">
                                <div class="card-body">
                                    <h5 class="card-title">Booking list</h5>
                                    <p class="card-text">This will take the Nurse to the bookings made by the surgeon to view the bookings and allow for admission of patients to the system.</p>
                                    <a class="btn btn-primary" aria-hidden="true" asp-controller="Nurse" asp-action="ViewSurgeryBooking">Booking list</a>

                                </div>
                            </div>
                            <div class="card" style="width: 18rem; margin-top: 48px;">
                                <img src="~/css/HB.jpeg" class="card-img-top" alt="Hospital Bed">
                                <div class="card-body">
                                    <h5 class="card-title">Admissions list</h5>
                                    <p class="card-text">By clicking the button below, you will be able to view all current patients admitted in the day hospitals. From the you can also search for a specific patient and look at the vitals takin by the nurses</p>
                                    <a class="btn btn-primary" aria-hidden="true" asp-controller="Nurse" asp-action="AdmittedPatients">Admission List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</body>
</html>

