@{
    ViewData["Title"] = "Page1";
    Layout = "_LayoutNurse";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form and Data Grid with Side Navigation</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:fit-content">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <div class="p-3 mt-5 border">
                                <div class="form-group row">
                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px">
                                    </div>
                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput1" class="form-label">Surname</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px">
                                    </div>
                                </div>


                                <div class="form-group row">
                                </div>






                                <div class="form-group row">
                                    <div class="col-4">
                                        <br>
                                        <button class="btn btn-primary" style=" width:70px" type="submit">Search</button>
                                        <button class="btn btn-danger" style=" width:70px" type="submit">Back</button>
                                        <button class="btn btn-primary" style=" width:70px" type="submit">Save</button>
                                    </div>
                                </div>
                                <!-- Your table content here -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">PatientName</th>
                                            <th scope="col">Ward</th>
                                            <th scope="col">Bed</th>
                                            <th scope="col">Height</th>
                                            <th scope="col">Weight</th>
                                            <th scope="col">BloodPressure</th>
                                            <th scope="col">RespirationRate</th>
                                            <th scope="col">BloodOxygen</th>
                                            <th scope="col">Temperature</th>
                                            <th scope="col">Pulse</th>
                                            <th scope="col">Retake</th>


                                            <!-- More table headers can be added here -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jin</td>
                                            <td>Ward 1</td>
                                            <td>Bed 1</td>
                                            <td>180</td>
                                            <td>75</td>
                                            <td>120/60</td>
                                            <td>80</td>
                                            <td>100</td>
                                            <td>30</td>
                                            <td>80</td>
                                            <td><input type="button" name="next" class="action-button" value="Retake" /></td>
                                            
                                            <!-- More table data can be added here -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Example form inputs -->
                            
                            <!-- More form inputs can be added here -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                       
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

