@{
    ViewData["Title"] = "Book Surgery";
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Surgery</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2>Book Surgery</h2>
                    <div class="form-group row">
                                <div class="col-4">
                                        <br>
                                <label for="exampleFormControlInput1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px">
                            </div>
                                <div class="col-4">
                                        <br>
                                <label for="exampleFormControlInput1" class="form-label">Surname</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px">
                            </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Surgeon Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dan Cater" style=" width:300px">
                                </div>
                            
                   </div>


                    <div class="form-group row">

                                    <div class="col-4">
                                        <br>
                                    <label for="exampleFormControlInput2" class="form-label">Surgery Date</label>
                                    <input type="date" class="form-control" id="exampleFormControlInput2" placeholder="Textbox 2" style=" width:300px">
                                </div>

                                     <div class="col-4">
                                        <br>
                                    <label for="exampleFormControlInput2" class="form-label">Surgery Time</label>
                                    <input type="time" class="form-control" id="exampleFormControlInput2" placeholder="Textbox 2" style=" width:300px">
                                </div>

                                    <div class="col-4">
                                        <br>
                                    <label for="exampleFormControlInput2" class="form-label">Theater</label>
                                    <select input class="form-control" placeholder="Theater" style=" width:300px">
                                        <option value="Theater 1">Theater 1</option>
                                        <option value="Theater 2">Theater 2</option>
                                        <option value="Theater 3">Theater 3</option>
                                    </select>
                                </div>
                     </div>

                    <div class="form-group row">
                                <div class="col-4">
                                        <br>
                                    <a class="btn btn-danger" aria-hidden="true" asp-controller="Home" asp-action="SurgeonHome">Back</a>

                                   
                                    <a class="btn btn-primary" aria-hidden="true" asp-controller="Home" asp-action="SurgeryTreatmentCode">Next</a>
                                </div>
                    </div>
                            <!-- More form inputs can be added here -->
                        </form>
                    </div>
                </div>
            </div>
        
        </main>
    </div>
</body>
</html>
