@{
    ViewData["Title"] = "Prescription";
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medication Change</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Medication Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cephalexin" style=" width:300px">
                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Quantity/Packs</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="1" style=" width:300px">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Status</label>
                                    <select input class="form-control" placeholder="Receiveed" style=" width:300px">
                                        <option value="Send">Send</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-4">
                                    <select input class="form-control" placeholder="Cephalexin" style=" width:300px">
                                        <option value="Cephalexin">Cephalexin</option>
                                        <option value="Diazepem">Diazepem</option>
                                        <option value="Ibiprofen">Ibiprofen</option>
                                        <option value="Tylenol">Tylenol</option>
                                        <option value="Oxycodone">Oxycodone</option>
                                        <option value="Hydeocodone">Hydeocodone</option>
                                        <option value="Ciprofloxacin">Ciprofloxacin</option>
                                        <option value="Zofran">Zofran</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Urgency</label>
                                    <select input class="form-control" placeholder="No" style=" width:300px">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Take</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="2" style=" width:300px">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Day Amount</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="3" style=" width:300px">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Eat</label>
                                    <select input class="form-control" placeholder="_" style=" width:300px">
                                        <option value="Before">Before</option>
                                        <option value="After">After</option>
                                        <option value="_">_</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <button class="btn btn-danger" style=" width:100px" type="submit" asp-action="Index" asp-controller="Home">Back</button>
                                    <button class="btn btn-primary" style=" width:100px" type="submit">Update</button>
                                </div>
                            </div>
                            <!-- More form inputs can be added here -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <!-- Your table content here -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Prescription Date</th>
                                    <th scope="col">Medication Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Urgency</th>
                                    <th scope="col">Take</th>
                                    <th scope="col">Day Amount</th>
                                    <th scope="col">Eat</th>
                                    <!-- More table headers can be added here -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jin</td>
                                    <td>Woo</td>
                                    <td>02/05/2024</td>
                                    <td>Cephalexin</td>
                                    <td>1</td>
                                    <td>Send</td>
                                    <td>No</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>Before</td>

                                    <!-- More table data can be added here -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
