@{
    ViewData["Title"] = "Treatments Codes List";
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatments Codes List</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2>Treatments Codes List</h2>

                           
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Name </label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin " style=" width:300px">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Surname </label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <a class="btn btn-danger" aria-hidden="true" asp-controller="Home" asp-action="patientAddmision">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <!-- Your table content here -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> ID number</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Surgeon Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Theatre</th>
                                    <th scope="col">Treatment Codes</th>
                                    <!-- More table headers can be added here -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0120526958</td>
                                    <td>Jin</td>
                                    <td>Woo</td>
                                    <td>John Doe</td>
                                    <td>25/05/2025</td>
                                    <td>08:00 AM</td>
                                    <td>Theatre 1</td>
                                    <td>
                                      05725
                                    </td>
                                    <!-- More table data can be added here -->
                                </tr>
                                <tr>
                                    <td>0120526958</td>
                                    <td>Jin</td>
                                    <td>Woo</td>
                                    <td>John Doe</td>
                                    <td>25/05/2025</td>
                                    <td>08:00 AM</td>
                                    <td>Theatre 1</td>
                                    <td>
                                        24045
                                    </td>
                                    <!-- More table data can be added here -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
