@{
    ViewData["Title"] = "Prescription";
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                                                      
                                <div class="form-group row">

                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px">
                                    </div>
                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput1" class="form-label">Surname</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px">
                                    </div>
                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput2" class="form-label">Surgery Date</label>
                                        <input type="date" class="form-control" id="exampleFormControlInput2" placeholder="Enter Date" value="2024-05-08" style=" width:300px">
                                    </div> 
                                </div>
                                     

                                <div class="form-group row">

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Pharmacist</label>
                                    <select input class="form-control" placeholder="Pharmacist" style=" width:300px">
                                        <option value="Sam Smith">Sam Smith</option>
                                        <option value="Zane Truesdale">Zane Truesdale</option>
                                    </select>
                                </div>
                                  
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Prescription Given Date</label>
                                    <input type="date" class="form-control" id="exampleFormControlInput2" placeholder="Enter Date" value="2024-05-08" style=" width:300px">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Priority</label>
                                    <select input class="form-control" placeholder="Priority" style=" width:300px">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Status</label>
                                    <select input class="form-control" placeholder="Status" style=" width:300px">
                                        <option value="Prescribed">Prescribed</option>
                                       
                                    </select>
                                </div>
                            </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <br>
                                    <a class="btn btn-danger" aria-hidden="true" asp-controller="Home" asp-action="ListSurgery">Back</a>

                                    <a class="btn btn-primary" aria-hidden="true" asp-controller="Home" asp-action="PrescriptionMedication">Next</a>

                                    </div>
                                </div>
                                <!-- More form inputs can be added here -->
                        </form>
                    </div>
                </div>
            </div>
          
        </main>
    </div>
</body>
</html>
