@{
    ViewData["Title"] = "Vitals And History";
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitals And History</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- Include DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2>Vitals And History</h2>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Surname</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px">
                                </div>
                               
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                <br>
                                <a class="btn btn-danger" style=" width:80px" aria-hidden="true" asp-controller="Home" asp-action="ListSurgery">Back</a>
                            </div>
                            </div>

                        
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <!-- Your table content here -->
                        <label for="exampleFormControlInput2" class="form-label">Medical History</label>
                        <label for="exampleFormControlInput2" class="form-label">Vitals</label>
                        <table id="vitalsTable" class="display">
                            <thead>
                                <tr>
                                    <th scope="col">Time and Date</th>
                                    <th scope="col">Height cm</th>
                                    <th scope="col">Weight kg</th>
                                    <th scope="col">Temperature °C</th>
                                    <th scope="col">Systolic Blood Pressure mmHg</th>
                                    <th scope="col">Distolic Blood Pressure mmHg</th>
                                    <th scope="col">Pulse Rate bpm</th>
                                    <th scope="col">Respiratory Rate bpm</th>
                                    <th scope="col">Blood Oxygen %</th>
                                    <th scope="col">Blood Glucose Level mg/dL</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2024-05-14 08:00</td>
                                    <td>175 </td>
                                    <td>70 </td>
                                    <td>36.5</td>
                                    <td>120 </td>
                                    <td>80 </td>
                                    <td>80 </td>
                                    <td>16 </td>
                                    <td>98</td>
                                    <td>90 </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                        <label for="exampleFormControlInput2" class="form-label">Condistions</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> Descriptions</th>
                                    <th scope="col"> Active Ingrediant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>None</td>
                                    <td>None</td>
                                </tr>
                            </tbody>
                        </table>
                       
                        <br>
                        <label for="exampleFormControlInput2" class="form-label">Allergies</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> Descriptions</th>
                                    <th scope="col"> Active Ingrediant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>None</td>
                                    <td>None</td>
                                </tr>
                            </tbody>
                        </table>

                        <br>
                        <label for="exampleFormControlInput2" class="form-label">Current Medication</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> Medication Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>None</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <br>
                      
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        $(document).ready(function () {
            $('#vitalsTable').DataTable();
        });
    </script>
</body>
</html>
