html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*background: linear-gradient(to right, #4CAF50, #00ffff);*/
    padding-top: 56px; /* Adjust for the fixed navbar */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.offcanvas-body {
    padding-top: 3.5rem; /* Adjust for the offcanvas */
}

.custom-card {
    width: 50%; /* Set width to 50% of the container */
    height: 85vh; /* Set height to 50% of the viewport height */
    margin-top: 30vh; /* Adjust top margin to center vertically */
    
}

.wrapper {
    display: flex;
    justify-content: left; /* Align items to the left */
    padding-left: 10px; /* Adjust left padding for spacing */
    padding-right: 15px; /* Adjust right padding for spacing */
}


.container {
    padding-left: 10px; /* Adjust the left padding as needed */
    padding-right: 10px; /* Adjust the right padding as needed */
}

.col-md-6 {
    margin-left: 0px; /* Remove default left margin */
    margin-right: 0px; /* Remove default right margin */
}


.p-3 {
    margin: 0; /* Remove default margin */
}

/* Optional: Adjust form width */
.form-control {
    width: 10%; /* Make the form inputs full width */
}

.custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
