@{
    ViewData["Title"] = "ActiveIngredientsAdded";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">


<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Active Ingredients Added</center></h2>







                            <div style="display: flex; justify-content: center; align-items: center;">

                                <br>
                                The active ingredients for Panado have been added.






                            </div>

                            <div style="display: flex; justify-content: center; align-items: center;">

                                <a asp-action="ViewActiveIngredientsPage" asp-controller="Pharmacist" class="btn btn-primary">Okay</a>






                            </div>

                        </form>

                    </div>


                </div>


            </div>

        </main>

    </div>





</body>
</html>
