@{
    ViewData["Title"] = "Add Medication";
    Layout = "_LayoutPharmacist";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>





<body>




    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">




                

                            <h2><center>Add Medication</center></h2>

                            <div class="form-group row">

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Medication Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" style=" width:300px">

                                </div>



                                <div class="col-4">

                                    <br />
                                    <label for="exampleFormControlInput1" class="form-label">Dosage form</label>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <select input class="form-control" placeholder="Cephalexin" style=" width:300px">
                                                <option value="Capsule">Capsule</option>
                                                <option value="Powder">Powder</option>
                                                <option value="Injection">Injection</option>

                                            </select>
                                        </div>
                                    </div>

                                </div>





                                <div class="col-4">

                                    <br />

                                    <label for="exampleFormControlInput1" class="form-label">Schedule</label>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <select input class="form-control" style=" width:300px">
                                                <option value="Schedule 1">Schedule 1</option>
                                                <option value="Schedule 1">Schedule 2</option>
                                                <option value="Schedule 1">Schedule 3</option>
                                                <option value="Schedule 1">Schedule 4</option>
                                                <option value="Schedule 1">Schedule 5</option>
                                                <option value="Schedule 1">Schedule 6</option>


                                            </select>
                                        </div>
                                    </div>

                                </div>


                            <div class="col-4">
                                <br />
                                <label for="exampleFormControlInput1" class="form-label">Stock on hand</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" style=" width:300px" placeholder="0">
                            </div>



                                <div class="col-4">
                                    <br />
                                    <label for="exampleFormControlInput1" class="form-label">Re-order level</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" style=" width:300px">
                                </div>



                        </div>
                        
                        <div class="form-group row">
                            <div class="col-4">
                                <br />
                                <label for="exampleFormControlInput1" class="form-label">Please state all the active ingredients and their strengths. E.g. 'povidone-200mg'</label>


                                <textarea name="large-text-area" rows="10" cols="50">

                                </textarea>

                            </div>
                        </div>

                    </div>


                    

                </div>


                    <div class="form-group row">
                        <div class="col-4">
                            <br>
                            <a asp-action="MedicationAdded" asp-controller="Pharmacist" class="btn btn-danger btn-lg">Add </a>
                            <a asp-action="PharmacistHomePage" asp-controller="Pharmacist" class="btn btn-danger btn-lg">Back </a>


                        </div>
                    </div>

                </div>

                <!-- More form inputs can be added here -->
             
                                        
                




        </main>
        


        <table class="table">
            <h1><center>Medication Stock</center></h1>
            <thead>
                <tr>
                    <th scope="col">Medication Name</th>
                    <th scope="col">Dosage Form</th>
                    <th scope="col">Schedule</th>
                    <th scope="col">Current level</th>

                    <th scope="col">Re-order level</th>
                    <th scope="col">Active ingredients</th>

                    


                    <!-- More table headers can be added here -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Panado</td>
                    <td>Tablet</td>


                    <td>
                        Schedule 1


                    </td>

                    <td>
                        2

                    </td>

                    <td>
                        5

                    </td>

                    <td>
                        <a asp-action="ViewSpecificActiveIngredients" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                    </td>




                    <!-- More table data can be added here -->
                </tr>



            </tbody>
        </table>
    </div>




</body>





</html>







