@{
    ViewData["Title"] = "ConfirmScriptRejection";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


</head>


<body>
     <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Confirm Script Rejection</center></h2>

                            



                            <center>
                                Are you sure you want to reject the script for Jin Woo?
                            </center>

                            <div style="display: flex; justify-content: center; align-items: center;">

                                <div class="form-group row">
                                
                                    
                                

                                    <a class="btn btn-primary" data-toggle="modal" data-target="#PrescriptionRejectedModal">Yes</a>
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#RejectScriptModal">No</a>

                                    


                                </div>

                                <div class="modal fade" id="PrescriptionRejectedModal" tabindex="-1" role="dialog" aria-labelledby="PrescriptionRejectedModal" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="PrescriptionRejectedModal">Rejected</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="f-1">



                                                <!-- Modal for Prescription Rejected -->
                                                <form>
                                                    <h2><center>Prescription Rejected</center></h2>

                                                    <div style="display: flex; justify-content: center; align-items: center;">

                                                        <br>
                                                        The prescription for Jin Woo has been rejected.
                                                    </div>

                                                </form>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>










                                





                            </div>

                           
   

    
</form>
    

</div>
    
</div>
    
</div>

    

</div>
    

   


   





</body>
</html>
