@{
    ViewData["Title"] = "ManageMedicationStock";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">


<body>
    
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Medication Stock Menu</center></h2>

                            <div style="display: flex; justify-content: center; align-items: center;">
                                <a asp-action="AddMedication" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Add Medication</a>

                            </div>
                            <br />

                            <div style="display: flex; justify-content: center; align-items: center;">
                                <a asp-action="ViewAllStock" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Medication Stock</a>

                            </div>
                            <br />

                            <div style="display: flex; justify-content: center; align-items: center;">
                                <a asp-action="ViewAllOrders" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Stock Orders</a>

                            </div>
                            <br />

                            <div style="display: flex; justify-content: center; align-items: center;">
                                <a asp-action="IncomingStockPage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Incoming Stock</a>

                            </div>

                            <br />
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <a asp-action="PharmacistHomePage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>

                            </div>


                           
                            
                        </form>
                            
                    </div>
                            
                </div>
                            
            </div>
            
        </main>
                            
                        
    </div>
                        
                    
                    
                    
                        

            

        <a asp-action="AddMedication" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>
    <a asp-action="ViewAllActivePrescriptionsPage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>
    <a asp-action="ViewAllActivePrescriptionsPage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Orders</a>


      

     
</body>
</html>
