@{
    ViewData["Title"] = "ManageMedicationStock";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">


<body>
    
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Medication Stock Menu</center></h2>

                            <div>
                                <a asp-action="AddMedication" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Add Medication</a>

                            </div>


                            <div>
                                <a asp-action="ViewAllStock" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Medication Stock</a>

                            </div>


                            <div>
                                <a asp-action="ViewAllOrders" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Stock Orders</a>

                            </div>

                            <div>
                                <a asp-action="PharmacistMainPage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>

                            </div>
                            
                        </form>
                            
                    </div>
                            
                </div>
                            
            </div>
            
        </main>
                            
                        
    </div>
                        
                    
                    
                    
                        

            

    


      

     
</body>
</html>
