@{
    ViewData["Title"] = "Prescription Dispensed";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">


<body>

    <div>
        The prescription for Jin Woo has been approved. Two packs of Cephalexin has been dispensed. Two packs of Diazepem has been dispensed.
    </div>

    
    <div>
        <a asp-action="ViewAllActivePrescriptionsPage" asp-controller="Pharmacist" class="btn btn-primary">Back</a>

    </div>


   


   





</body>
</html>
