@{
    ViewData["Title"] = "Order Stock";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">


<body>


    <label for="exampleFormControlInput1" class="form-label">Please select the level amount of Panado you want to order.</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" style=" width:300px">

  

    <div>
        <a asp-action="StockOrdered" asp-controller="Pharmacist" class="btn btn-primary">Order</a>

    </div>

</body>
</html>
