@{
    ViewData["Title"] = "PharmacistHomePage";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmacistHomePage</title>
   <link href="~/css/PharmacistHomePage.css" rel="stylesheet"> 
    <style></style>
    
</head>

<body>
    <div class="container">
        <center>
            <br />
            <h1>Pharmacist Home Page</h1>
        </center>
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">


                <div style="text-align:center;">
                    <img src="~/css/PharmacistHomePage image.jpg" alt="My Image">
                </div>
                 

                
            </div>

        </main>

    </div>


    


</body>
</html>
