@{
    ViewData["Title"] = "PharmacistHomePage";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmacistHomePage</title>
    <link href="~/css/PharmacistHomePage.css" rel="stylesheet">
</head>

<body>
    <br />
    <center>
        <h1>Pharmacist Home Page</h1>
    </center>

    <!--<br />
    <div style="display: flex; justify-content: center; align-items: center;">
        <a asp-action="ViewAllActivePrescriptionsPage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Active Prescriptions</a>

    </div>


    <br />
    <div style="display: flex; justify-content: center; align-items: center;">
        <a asp-action="AddMedication" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Add Medication</a>

    </div>

    <br />
    <div style="display: flex; justify-content: center; align-items: center;">
        <a asp-action="PharmacistHomePage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Incoming Stock</a>

    </div>

    <br />
    <div style="display: flex; justify-content: center; align-items: center;">
        <a asp-action="OrderStock" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Place Order</a>

    </div>


    <br />
    <div style="display: flex; justify-content: center; align-items: center;">
        <a asp-action="ViewAllOrders" asp-controller="Pharmacist" class="btn btn-primary btn-lg">View Orders</a>

    </div>-->
    
   
</body>
</html>
