@{
    ViewData["Title"] = "Prescription Dispensed";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">


<body>

    <div>
        The prescription for Jin Woo has been rejected because:




    </div>

    
    <div>
        <a asp-action="ViewAllActivePrescriptionsPage" asp-controller="Pharmacist" class="btn btn-primary">Back</a>

    </div>



</body>
</html>
