@{
    ViewData["Title"] = "Prescription Rejection";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">


<body>

   
    <label for="exampleFormControlInput1" class="form-label">Please indicate reason for rejecting Jin Woo's script.</label>

    <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" cols="600"></textarea>
    </div>

    <div>
        <a asp-action="PrescriptionRejected" asp-controller="Pharmacist" class="btn btn-primary">Reject</a>

    </div>

    <div>
        <button onclick="history.back()">Cancel</button>

    </div>


  </body>
</html>
