@{
    ViewData["Title"] = "Stock Ordered";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">


<body>

    <div>
        The amount of Panado required has been ordered




    </div>


    <div>
        <a asp-action="ViewAllStock" asp-controller="Pharmacist" class="btn btn-primary">Okay</a>

    </div>











</body>
</html>
