@{
    ViewData["Title"] = "AllOrders";
    Layout = "_LayoutPharmacist";
    
}
<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <main role="main" class="pb-5">
           


            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <!-- Your table content here -->
                        <table class="table">
                            <h1><center>Medication Stock Orders</center></h1>
                            <thead>
                                <tr>
                                    <th scope="col">Medication Name</th>
                                    <th scope="col">Amount ordered</th>
                                    
                                    <th scope="col">Order status</th>

                                    <!-- More table headers can be added here -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Panado</td>
                                    <td>14</td>
                                    <td>Fulfilled</td>

                                    
                                    <!-- More table data can be added here -->
                                </tr>

                              
                              
                            </tbody>


                            <tbody>
                                <tr>
                                    <td>Disprin</td>
                                    <td>14</td>
                                    <td>Placed</td>


                                    <!-- More table data can be added here -->
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
@*             <a asp-action="PharmacistHomePage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>
 *@        </main>
    </div>
</body>
</html>
