@{
    ViewData["Title"] = "Individual Prescription";
    Layout = "_LayoutPharmacist";
}





<!DOCTYPE html>
<html lang="en">






<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Prescription View</center></h2>




            
                

                <div class="form-group row">

                    <div class="col-4">
                        <br>
                        <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px" readonly>
                        
                    </div>
                                    
                        
                    <div class="col-4">
                                    <br>
                        <label for="exampleFormControlInput1" class="form-label">Patient Surname</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px" readonly>
                        
                    </div>

                                    
                        
                    <div class="col-4">
                                    <br>
                        <label for="exampleFormControlInput1" class="form-label">Prescription Date</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="14/05/2024" style=" width:300px" readonly>
                                    
                    </div>

                                
                    <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Surgeon</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jack Black" style=" width:300px" readonly>
                                
                                
                                
                    </div>

                                    
                    <div class="col-4">
                                    <br>
                        <label for="exampleFormControlInput1" class="form-label">Urgent</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Yes" style=" width:300px" readonly>
                                   
                    </div>

                                    
                    <div class="col-4">
                                    <br>
                        <label for="exampleFormControlInput1" class="form-label">Medications Prescribed</label>
                        
                                    <!--Find a suitable list box item-->
                                    @* <select class="form-control" id="exampleFormControlSelect1" style="width:250px">
                                        <option>Cephalexin</option>
                                        <option>Diazepem</option>

                                    </select>



 *@




                                    

                                    <textarea name="large-text-area" rows="2" cols="30">
Cephalexin
Diazepem
</textarea>
                                    
                                
                    </div>





                                <div class="col-4">
                                    <br />
                                    <label for="exampleFormControlInput1" class="form-label">Administration Instructions</label>

                                    <textarea name="large-text-area" rows="10" cols="50">
Administer 2 Cephalexin 2 times a day before eating.

Administer 1 Diazepam 2 times a day after eating.
</textarea>

                                    </div>

                        


                        

                        


                        
                    


                               


                                

                </div>



                <div class="form-group row">
                    <div class="col-4">
                        <br>
                        <a asp-action="MedicationDispensed" asp-controller="Pharmacist" class="btn btn-danger btn-lg">Dispense </a>
                        <a asp-action="RejectScript" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Reject</a>
                        <a asp-action="ViewAllActivePrescriptionsPage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>


                    </div>
                </div>
                <!-- More form inputs can be added here -->
            </form>






        </main>
    </div>




</body>





</html>







