@{
    ViewData["Title"] = "Daily Usage Report";
    Layout = "_LayoutPharmacist";
}

<!DOCTYPE html>
<html lang="en">
    <head>

    </head>

<body>
    <center>
        <h1>Generate Report</h1>
    </center>
    <h1></h1>
</body>
</html>
