@{
    ViewData["Title"] = "AllMedicationStock";
    Layout = "_LayoutPharmacist";

}
<!DOCTYPE html>
<html lang="en">
    <head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

<body>

    


    <!--All Medication Stock-->
    <div class="container">
        <main role="main" class="pb-5">



            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <!-- Your table content here -->
                        <table class="table">
                            <h1><center>All Current Stock</center></h1>
                            <thead>
                                <tr>
                                    <th scope="col">Medication Name</th>
                                    <th scope="col">Dosage Form</th>
                                    <th scope="col">Schedule</th>
                                    <th scope="col">Stock on Hand</th>

                                    <th scope="col">Re-order level</th>
                                    
                                    

                                    <!-- More table headers can be added here -->
                                </tr>
                            </thead>

                            <!--Panado record-->
                            <tbody>
                                <tr>
                                    <td>Panado</td>
                                    <td>Tablet</td>
                                    <td>1</td>



                                    <td>2</td>
                                    <td>
                                        2


                                    </td>

                                    <td>
                                        

                                    </td>
                                    


                                    

                                    <!-- More table data can be added here -->
                                </tr>

                               

                            </tbody>


                            <!--Disprin Record-->
                            <tbody>
                                <tr>
                                    <td>Disprin</td>
                                    <td>Tablet</td>


                                    <td>1</td>



                                    <td>2</td>

                                    <td>
                                        7

                                    </td>

                                    <td>
                                        

                                    </td>





                                    <!-- More table data can be added here -->
                                </tr>



                            </tbody>



                            <!--Insulin Record-->
                            <tbody>
                                <tr>
                                    <td>Insulin</td>
                                    <td>Pill</td>

                                    <td>1</td>



                                    <td>2</td>

                                    <td>
                                        4

                                    </td>

                                    <td>
                                        

                                    </td>





                                    <!-- More table data can be added here -->
                                </tr>



                            </tbody>


                        </table>
                        

                    </div>
                </div>
            </div>
        </main>
    </div>




    <!--Stock that needs to be ordered. The auto order-->

   
            <div class="p-3 mt-5 border">
                <!-- Your table content here -->
                <table class="table">
                    <h1><center>Auto Order</center></h1>
            <center>
                <input class="form-control" id="myInput" type="text" style="width: 50%; height: 40px;" placeholder="Search by medication name">
            </center>
                    <thead>
                        <tr>
                            <th scope="col">Medication Name</th>
                            <th scope="col">Dosage Form</th>
                            
                            <th scope="col">Current level</th>

                            <th scope="col">Re-order level</th>

                    <th scope="col">Amount to be ordered</th>


                            <!-- More table headers can be added here -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Panado</td>
                            <td>Tablet</td>


                           

                            <td>
                                2

                            </td>

                            <td>
                                5

                            </td>

                    <td><input type="text" name="textbox1" size="5" /></td>

                            





                            <!-- More table data can be added here -->
                        </tr>



                    </tbody>


            <tbody>
                <tr>
                    <td>Insulin</td>
                    <td>Pill</td>


                  

                    <td>
                        4

                    </td>

                    <td>
                        6

                    </td>


                    <td><input type="text" name="textbox1" size="5" /></td>



                    <!-- More table data can be added here -->
                </tr>



            </tbody>
                </table>


                <a asp-action="StockOrdered" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Place Order</a>

            </div>







<!--Stock that needs to be ordered. Manual order-->
    <div class="p-3 mt-5 border">
        <!-- Your table content here -->
        <table class="table">
            <h1><center>Manual order</center></h1>
            <center>
                <input class="form-control" id="myInput" type="text" style="width: 50%; height: 40px;" placeholder="Search by medication name">
            </center>
            <thead>
                <tr>
                    <th scope="col">Medication Name</th>
                    <th scope="col">Dosage Form</th>
                    
                    <th scope="col">Current level</th>

                    <th scope="col">Re-order level</th>
                    <th scope="col">Amount to order</th>



                    <!-- More table headers can be added here -->
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <td>Panado</td>
                    <td>Tablet</td>


                   

                    <td>
                        2

                    </td>

                    <td>
                        5

                    </td>

                    <td><input type="text" name="textbox1" size="5" /></td>



                    <!-- More table data can be added here -->
                </tr>



            </tbody>


            <tbody id="myTable">
                <tr>
                    <td>Insulin</td>
                    <td>Pill</td>


                    

                    <td>
                        4

                    </td>

                    <td>
                        6

                    </td>
                    <td><input type="text" name="textbox1" size="5" /></td>





                    <!-- More table data can be added here -->
                </tr>



            </tbody>
        </table>


        <a asp-action="StockOrdered" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Place Order</a>

    </div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>

</body>
</html>
