@{
    ViewData["Title"] = "Individual Prescription";
    Layout = "_LayoutPharmacist";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

   
</head>




<body>
    <h1><center>Prescription View</center></h1>
    <!--Medical History-->
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Medical History</center></h2>
                            <div class="form-group row">

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px" readonly>
                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Patient Surname</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px" readonly>
                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Allergies</label>


                                    <!--Find a suitable list box item-->
                                    @*
                                    <select class="form-control" id="exampleFormControlSelect1" style="width:250px">
                                    <option>Disprin</option>
                                    <option>Penicillin</option>


                                    </select> *@



                                    <textarea name="large-text-area" rows="2" cols="30">
Disprin
Penicillin

                                </textarea>





                                </div>
                            </div>


                            <div class="form-group row">

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Conditions</label>

                                    <textarea name="large-text-area" rows="2" cols="30">
Acne
Diabetes

                                </textarea>

                                    @* <select input class="form-control" placeholder="Pharmacist" style=" width:300px">
                                    <option value="Acne">Acne</option>
                                    <option value="Diabetes">Diabetes</option>
                                    </select> *@
                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Current Medications</label>
                                    <textarea name="large-text-area" rows="2" cols="30">
Diazepem
Aspirin

                                </textarea>

                                    <!--Find a suitable list box item-->
                                    @* <select class="form-control" id="exampleFormControlSelect1" style="width:250px">
                                    <option>Diazepem</option>
                                    <option>Aspirin</option>

                                    </select> *@
                                </div>

                            </div>



                            


                            <!-- More form inputs can be added here -->
                        </form>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <!--end of medical history-->



    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Vitals History</center></h2>


                            <div class="form-group row">





                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px" readonly>

                                </div>



                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Patient Surname</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px" readonly>


                                </div>



                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">BP: 120/80 mmHg</label>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Time taken: 08:00</label>
                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Heart rate: 70 bpm</label>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Time taken: 08:15</label>


                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Blood oxygen level: 100%</label>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Time taken: 08:25</label>

                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Respiratory rate: 18 breaths per minute</label>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Time taken: 08:30</label>

                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Height: 160 cm</label>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Time taken: 08:45</label>

                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Weight: 60 kg</label>
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Time taken: 08:50</label>

                                </div>














                            </div>





                           
                            <!-- More form inputs can be added here -->
                        </form>

                    </div>
                </div>
            </div>







        </main>
    </div>
<!--end of vitals-->







    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Prescription</center></h2>




            
                

                <div class="form-group row">

                    <div class="col-4">
                        <br>
                        <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px" readonly>
                        
                    </div>
                                    
                        
                    <div class="col-4">
                                    <br>
                        <label for="exampleFormControlInput1" class="form-label">Patient Surname</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px" readonly>
                        
                    </div>

                                    
                        
                    <div class="col-4">
                                    <br>
                        <label for="exampleFormControlInput1" class="form-label">Prescription Date</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="14/05/2024" style=" width:300px" readonly>
                                    
                    </div>

                                
                    <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">Surgeon</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jack Black" style=" width:300px" readonly>
                                
                                
                                
                    </div>

                                    
                    <div class="col-4">
                                    <br>
                        <label for="exampleFormControlInput1" class="form-label">Urgent</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Yes" style=" width:300px" readonly>
                                   
                    </div>

                                    
                    <div class="col-4">
                                    <br>
                        <label for="exampleFormControlInput1" class="form-label">Medications Prescribed</label>
                        
                                    <!--Find a suitable list box item-->
                                    @* <select class="form-control" id="exampleFormControlSelect1" style="width:250px">
                                        <option>Cephalexin</option>
                                        <option>Diazepem</option>

                                    </select>



 *@




                                    

                                    <textarea name="large-text-area" rows="2" cols="30">
Cephalexin
Diazepem
</textarea>
                                    
                                
                    </div>





                                <div class="col-4">
                                    <br />
                                    <label for="exampleFormControlInput1" class="form-label">Administration Instructions</label>

                                    <textarea name="large-text-area" rows="10" cols="50">
Administer 2 Cephalexin 2 times a day before eating.

Administer 1 Diazepam 2 times a day after eating.
</textarea>

                                    </div>

                        


                        

                        


                        
                    


                               


                                

                </div>



                <div class="form-group row">
                    <div class="col-4">
                        <br>
                         <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#MedicationDispensedModal">Dispense</a>
                         <a asp-action="RejectScript" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Reject</a>
                         <a asp-action="ViewAllActivePrescriptionsPage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>
                     </div>
                </div>
                <!-- More form inputs can be added here -->
            </form>
                        <div class="modal fade" id="MedicationDispensedModal" tabindex="-1" role="dialog" aria-labelledby="MedicationDispensedModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="MedicationDispensedModal"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="f-1">



                                        <!-- Modal for Medication Dispensed -->
                                        <form>
                                            <h2><center>Prescription Dispensed</center></h2>

                                            <div style="display: flex; justify-content: center; align-items: center;">

                                                <br>
                                                The prescription for Jin Woo has been dispensed.
                                            </div>

                                        </form>
                                    </div>
                                
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>





        </main>
    </div>




</body>





</html>







