@{
    ViewData["Title"] = "IndividualPatientMedicalHistory";
    Layout = "_LayoutPharmacist";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link href="~/css/scollmenu.css" rel="stylesheet">
    

</head>

    <body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">

                        <form>
                            <h2><center>Medical History</center></h2>
                            <div class="form-group row">

                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jin" style=" width:300px" readonly>
                                    </div>

                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput1" class="form-label">Patient Surname</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Woo" style=" width:300px" readonly>
                                    </div>

                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput2" class="form-label">Allergies</label>


                                    <!--Find a suitable list box item-->

                                        <select class="form-control" id="exampleFormControlSelect1" style="width:250px">
                                            <option>Disprin</option>
                                            <option>Penicillin</option>
                                            
                                            
                                        </select>

                                
                                   
                                    </div>
                                </div>


                                <div class="form-group row">

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Conditions</label>
                                    <select input class="form-control" placeholder="Pharmacist" style=" width:300px">
                                        <option value="Acne">Acne</option>
                                        <option value="Diabetes">Diabetes</option>
                                    </select>
                                </div>

                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput2" class="form-label">Current Medications</label>
                                    
                                    
                                    <!--Find a suitable list box item-->
                                    <select class="form-control" id="exampleFormControlSelect1" style="width:250px">
                                        <option>Diazepem</option>
                                        <option>Aspirin</option>
                                        
                                    </select>
                                </div>
                                
                            </div>

           
                                   
                            <div style="align-content:end">
                                <a class="btn btn-primary" aria-hidden="true" asp-controller="Pharmacist" asp-action="ViewAllActivePrescriptionsPage">Back </a>

                            </div>

                              
                                <!-- More form inputs can be added here -->
    </form>
    </div>
    </div>
    </div>

    </main>
    </div>
</body>










</html>







