@{
    ViewData["Title"] = "AllActivePrescriptions";
    Layout = "_LayoutPharmacist";
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
</head>
<body>

  



    


    <!--Table-->

    <div class="container">
        <main role="main" class="pb-5">
           


            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <!-- Your table content here -->
                        <table class="table">
                            <h1><center>Active Prescriptions</center></h1>

                            <thead>
                                <tr>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Patient Surname</th>
                                    <th scope="col">Ward</th>
                                    <th scope="col">Nurse</th>
                                    <th scope="col">Medical History</th>
                                    <th scope="col">Vital History</th>
                                    <th scope="col">Prescription</th>
                                    <th scope="col">Urgent</th>

                                    <!-- More table headers can be added here -->
                                </tr>
                            </thead>
                            <tbody>

                                <!--Jin Woo-->
                                <tr>
                                    <td>Jin</td>
                                    <td>Woo</td>
                                    <td>17</td>
                                    <td>Jackie Brown</td>
                                    <td>
                                        <a asp-action="ViewSpecificMedicalHistory" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                                    </td>

                                    <td>
                                        <a asp-action="ViewSpecificVitalsHistory" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                                    </td>

                                    <td>
                                            <a asp-action="ViewSpecificPrescription" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>

                                             
                                        
                                    </td>

                                    
                                    <td>Yes</td>
                                    <!-- More table data can be added here -->
                                </tr>

                                <!--Janet Moss-->
                                <tr>
                                    <td>Janet</td>
                                    <td>Moss</td>
                                    <td>18</td>
                                    <td>Natalie Hughes
                                    <td>
                                        <a asp-action="ViewSpecificMedicalHistory" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                                    </td>

                                    <td>
                                        <a asp-action="ViewSpecificVitalsHistory" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                                    </td>

                                    <td>
                                        <a asp-action="ViewSpecificPrescription" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                                    </td>


                                    <td>Yes</td>
                                    <!-- More table data can be added here -->
                                </tr>



                                <!--Jim Jones-->
                                <tr>
                                    <td>Jim</td>
                                    <td>Jones</td>
                                    <td>19</td>
                                    <td>Joyce Meyer</td>
                                    <td>
                                        <a asp-action="MedicalHistoryIndividual" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                                    </td>

                                    <td>
                                        <a asp-action="VitalHistoryIndividual" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                                    </td>

                                    <td>
                                        <a asp-action="ViewSpecificPrescription" asp-controller="Pharmacist" class="btn btn-primary">View in full</a>



                                    </td>


                                    <td>No</td>
                                    <!-- More table data can be added here -->
                                </tr>

                            </tbody>
                        </table>
                        <a class="btn btn-primary" aria-hidden="true" asp-controller="Pharmacist" asp-action="PharmacistHomePage">Back </a>

                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
