@{
    ViewData["Title"] = "AllMedicationStock";
    Layout = "_LayoutPharmacist";

}
<!DOCTYPE html>
<html lang="en">

<body>

    


    <!--All Medication Stock-->
    <div class="container">
        <main role="main" class="pb-5">



            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <!-- Your table content here -->
                        <table class="table">
                            <h1><center>All Stock</center></h1>
                            <thead>
                                <tr>
                                    <th scope="col">Medication Name</th>
                                    <th scope="col">Dosage Form</th>
                                    
                                    <th scope="col">Current level</th>

                                    <th scope="col">Re-order level</th>
                                    
                                    

                                    <!-- More table headers can be added here -->
                                </tr>
                            </thead>

                            <!--Panado record-->
                            <tbody>
                                <tr>
                                    <td>Panado</td>
                                    <td>Tablet</td>
                                    
                                    
                                    

                                    <td>
                                        2


                                    </td>

                                    <td>
                                        5

                                    </td>
                                    


                                    

                                    <!-- More table data can be added here -->
                                </tr>

                               

                            </tbody>


                            <!--Disprin Record-->
                            <tbody>
                                <tr>
                                    <td>Disprin</td>
                                    <td>Tablet</td>


                                   

                                    <td>
                                        7

                                    </td>

                                    <td>
                                        6

                                    </td>





                                    <!-- More table data can be added here -->
                                </tr>



                            </tbody>



                            <!--Insulin Record-->
                            <tbody>
                                <tr>
                                    <td>Insulin</td>
                                    <td>Pill</td>



                                    <td>
                                        4

                                    </td>

                                    <td>
                                        6

                                    </td>





                                    <!-- More table data can be added here -->
                                </tr>



                            </tbody>


                        </table>
                        
                        <a asp-action="PharmacistHomePage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>

                    </div>
                </div>
            </div>
        </main>
    </div>




    <!--Stock that needs to be ordered. The auto order-->

   
            <div class="p-3 mt-5 border">
                <!-- Your table content here -->
                <table class="table">
                    <h1><center>Auto Order</center></h1>
                    <thead>
                        <tr>
                            <th scope="col">Medication Name</th>
                            <th scope="col">Dosage Form</th>
                            
                            <th scope="col">Current level</th>

                            <th scope="col">Re-order level</th>

                    <th scope="col">Amount to be ordered</th>


                            <!-- More table headers can be added here -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Panado</td>
                            <td>Tablet</td>


                           

                            <td>
                                2

                            </td>

                            <td>
                                5

                            </td>

                    <td><input type="text" name="textbox1"  size="5" /></td>

                            





                            <!-- More table data can be added here -->
                        </tr>



                    </tbody>


            <tbody>
                <tr>
                    <td>Insulin</td>
                    <td>Pill</td>


                  

                    <td>
                        4

                    </td>

                    <td>
                        6

                    </td>


                    <td><input type="text" name="textbox1" size="5" /></td>



                    <!-- More table data can be added here -->
                </tr>



            </tbody>
                </table>


                <a asp-action="OrderStock" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Place Order</a>

            </div>







<!--Stock that needs to be ordered. Manual order-->
    <div class="p-3 mt-5 border">
        <!-- Your table content here -->
        <table class="table">
            <h1><center>Manual order</center></h1>
            <thead>
                <tr>
                    <th scope="col">Medication Name</th>
                    <th scope="col">Dosage Form</th>
                    
                    <th scope="col">Current level</th>

                    <th scope="col">Re-order level</th>



                    <!-- More table headers can be added here -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Panado</td>
                    <td>Tablet</td>


                   

                    <td>
                        2

                    </td>

                    <td>
                        5

                    </td>





                    <!-- More table data can be added here -->
                </tr>



            </tbody>


            <tbody>
                <tr>
                    <td>Insulin</td>
                    <td>Pill</td>


                    

                    <td>
                        4

                    </td>

                    <td>
                        6

                    </td>





                    <!-- More table data can be added here -->
                </tr>



            </tbody>
        </table>


        <a asp-action="OrderStock" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Place Order</a>

    </div>
        

</body>
</html>
