@{
    ViewData["Title"] = "AllMedicationStock";
    Layout = "_LayoutPharmacist";

}
<!DOCTYPE html>
<html lang="en">

<body>

    



    <div class="container">
        <main role="main" class="pb-5">



            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <!-- Your table content here -->
                        <table class="table">
                            <h1><center>Medication Stock</center></h1>
                            <thead>
                                <tr>
                                    <th scope="col">Medication Name</th>
                                    <th scope="col">Dosage Form</th>
                                    <th scope="col">Schedule</th>
                                    <th scope="col">Current level</th>

                                    <th scope="col">Re-order level</th>
                                    <th scope="col">Order Stock</th>
                                    

                                    <!-- More table headers can be added here -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Panado</td>
                                    <td>Tablet</td>
                                    
                                    
                                    <td>
                                        Schedule 1


                                    </td>

                                    <td>
                                        2

                                    </td>

                                    <td>
                                        5

                                    </td>
                                    


                                    <td>
                                        <a asp-action="OrderStock" asp-controller="Pharmacist" class="btn btn-primary">Order</a>



                                    </td>

                                    <!-- More table data can be added here -->
                                </tr>

                               

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a asp-action="ManageMedicationStockPage" asp-controller="Pharmacist" class="btn btn-primary btn-lg">Back</a>
        </main>
    </div>
</body>
</html>
